@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new Client</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)

  @Html.LabelFor(model => model.Stylists)
  @Html.DropDownList("StylistId", new SelectList(@ViewBag.Stylists, "StylistId", "Name"));

  <input type="submit" value="Add new client" class="btn btn-default" />
}
<button>@Html.ActionLink("Show all Clients", "Index")</button>